@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
// font-family: 'Permanent Marker', cursive;

@import './components/color-picker-container';
@import './components/palette';
@import './components/swatch';

html,body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

h1,h2,p, a, button {
  font-family: 'Permanent Marker', sans-serif;
  font-size: larger;
}

button {
  background-color: white;
}

.App {
  text-align: center;
  margin: 6rem 0;
}
